In [1]:
import numpy as np
import pandas as pd
from keras.utils.np_utils import to_categorical
from sklearn.preprocessing import LabelEncoder

Using TensorFlow backend.

In [2]:
test_df = pd.read_csv("../datasets/ADR/test.tsv", sep="\t", header=None)

In [3]:
df = pd.DataFrame()

In [4]:
df['Text'] = test_df[0]
df['Label'] = test_df[1]

In [5]:
# One hot Encoding of y
encoder = LabelEncoder()
encoder.fit(test_df[1])

LabelEncoder()

In [6]:
models = ['bert_cased_finetuned',
         'bert_pretrain_output_all_notes_150000_finetuned',
         'bert_pretrain_output_disch_100000_finetuned',
         'bert_uncased_finetuned',
         'biobert_1.0_finetuned',
         'biobert_1.1_finetuned',
         'biobert_pretrain_output_all_notes_150000_finetuned',
         'biobert_pretrain_output_disch_100000_finetuned',
         'elmo',
         'bert_logistic_twitter']

In [16]:
probs.drop([0], axis=1)

             1         2
0     0.000114  0.999816
1     0.999920  0.000032
2     0.999920  0.000031
3     0.999915  0.000030
4     0.999927  0.000032
...        ...       ...
1474  0.000121  0.999809
1475  0.000328  0.999613
1476  0.000700  0.999238
1477  0.000142  0.999757
1478  0.000273  0.999662

[1479 rows x 2 columns]

In [22]:
for model in models:
    probs = pd.read_csv("../output/ADR/"+model+"/test_results.tsv", sep="\t", header=None)
    if model not in ['elmo', 'bert_logistic_twitter']:
        probs = probs.drop([0], axis=1)
        df[model+"0"] = probs[1]
        df[model+"1"] = probs[2]
    else:
        df[model+"0"] = probs[0]
        df[model+"1"] = probs[1]
    df[model+"_pred"] = encoder.inverse_transform(np.argmax(probs.to_numpy(), axis=1))

In [23]:
df.to_csv("all_predictions_twitter.csv")

# Common Class

In [24]:
test_df.groupby(1)[1].describe()

   count  mean  std  min  25%  50%  75%  max
1
0  740.0   0.0  0.0  0.0  0.0  0.0  0.0  0.0
1  739.0   1.0  0.0  1.0  1.0  1.0  1.0  1.0

In [25]:
# Most Common class is 0:
740 / (740+739)

0.5003380662609872